* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: black;
    font-family: "Roboto", sans-serif;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
   
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .header h1,p{
    color: bisque;
  }
   
  .homeIMG{
    background-color: bisque;
    width: 40px;
    position: fixed;
    left: 4px;
    top: 4px;
    padding: 2px;
    transition: 0.5s; 
  }
  .homeIMG:hover{
    box-shadow: 0 0 8px 2px bisque;
  }